#contenedor-imagenes{
    height: 100vh;
    width: 12vh;
    float: left;
    border: 3px solid lightgrey;
    margin: auto;
}

#contenedor-imagen{
    margin: auto;
    height: 90vh;
    width: 20vh;
    float: center;
    margin-right: 1%;
    justify-content: center;
}

img {
    width: 10vh;
    height: 10vh;
    margin: 10px;
}

h1{
    text-align: center;
}

#imagenCentral{
    margin-top: 5vh;
    width: 120vh;
    height: 90vh;
}

#textotImagen{
    margin-top: 3px;
    margin-left: 622px;
    text-align: center;
    position: absolute;
}

.derecha{
    border: 1px solid;
    height: 90vh;
    width: 160vh;
    float: left;

}


.izquierda{
    border: 1px solid;
    height: 90vh;
    width: 20vh;
    float: left;
    margin-right: 1%;
}