.container-principal{
    border: 4px solid lightcoral;
    height: 50px;
    width: 150px;
    background-color: lightskyblue;
    margin:auto;
    display: flex;
    justify-content: center;
    transform: translate(0%,500%);
}

h1{
    text-align: center;
}

p{
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}